h1.title {
    text-align: center;
}

div.spacer {
    height: 1em;
}

label.test {
    text-align: center;
}

.topnav {
    background-color: aqua;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 1em 1em;
    font-size: 1.25em;
}

.topnav a:hover {
    color: crimson;
}

.topnav .active {
    color: white;
}

.divModal {
    align-self: center;
}

.modal:modal {
    display: none;
}